<link rel="import" href="../polymer/polymer.html">

<!--
An element providing an interactive chess board.

Example:

    <chess-board></chess-board>

@demo
-->
<dom-module id="chess-board">

    <link rel="import" type="css" href="chess-board.css">

    <template>
        <div id="container" class="board noselect">
            <table id="boardTable"></table>
            <div class="taken"></div>
            <div class="taken"></div>
        </div>
    </template>

</dom-module>

<link rel="import" href="component-ui-setup.html">
<link rel="import" href="component-moves.html">
<link rel="import" href="component-play.html">

<script src="../chess-rules/dist/chess-rules.js"></script>

<script>

    Polymer({

        is: 'chess-board',

        properties: {
            /**
             * The piece size which represents the width/height of a single cell.
             */
            pieceSize: {
                type: String,
                value: "32px",
                observer: '_pieceSizeObserver'
            },

            /**
             * The point of view that defines which side is at the bottom of the screen. It can be either B or W.
             */
            pov: {
                type: String,
                value: 'W',
                observer: '_povObserver'
            },

            /**
             * Define which side is playable on the board interactively, can be either W, B or both.
             */
            interactiveSides: {
                type: Array,
                value: function () {
                    return [];
                },
                observer: '_sidesObserver'
            },

            /**
             * Chess moves in valid PGN movetext notation, see https://en.wikipedia.org/wiki/Portable_Game_Notation
             */
            moves: {
                type: Array,
                value: function () {
                    return [];
                },
                observer: '_movesObserver'
            },

            /**
             * Current visible move index.
             */
            moveIndex: {
                type: Number,
                observer: '_setMoveIndex',
                notify: true
            }

            /**
             * The `piece-move` event is fired whenever a piece is moved from an interactive side.
             *
             * @event piece-move
             * @detail {{src: Number, dst: Number}}
             */

        },

        // Element Lifecycle

        ready: function () {
            // `ready` is called after all elements have been configured, but
            // propagates bottom-up. This element's children are ready, but parents
            // are not.
            //
            // This is the point where you should make modifications to the DOM (when
            // necessary), or kick off any processes the element wants to perform.

            var view = setupBoard(this.$.container, this.pov);
            this.boardView = view;
            this.boardView.fireEvent = function (component) {
                return function (type, e) {
                    component.fire(type, e);
                }
            }(this);

            this._pieceSizeObserver(this.pieceSize);
        },

        _sidesObserver: function (sides, previousSides) {
            if (previousSides) {
                refreshDisplay(this.boardView);
                prepareForPlay(this.boardView, this.interactiveSides);
            }
        },

        _povObserver: function (pov, previousPov) {
            if (this.boardView) {
                console.debug('Switching board orientation');
                var displayCells = this.boardView.cells.board;

                for (var i = 0; i < 32; i++) {
                    var c = displayCells[i];
                    displayCells[i] = displayCells[63 - i];
                    displayCells[63 - i] = c;
                }

                for (var i = 0; i < 8; i++) {
                    var orientedIndex = pov == 'W' ? i : 7 - i;
                    this.boardView.cells.colTitles[orientedIndex].textContent = String.fromCharCode('A'.charCodeAt(0) + i);
                    this.boardView.cells.rowTitles[orientedIndex].textContent = String.fromCharCode('1'.charCodeAt(0) + 7 - i);
                }
            }

            if (previousPov) {
                refreshDisplay(this.boardView);
                prepareForPlay(this.boardView, this.interactiveSides);
            }
        },

        _pieceSizeObserver: function (pieceSize, previousSize) {
            var table = this.$.boardTable;

            Polymer.dom(table).querySelectorAll("td.cell").forEach(function (cell) {
                cell.style.width = pieceSize;
                cell.style.height = pieceSize;
                cell.style.minWidth = pieceSize;
                cell.style.minHeight = pieceSize;
            });

            Polymer.dom(table).querySelectorAll("div.piece").forEach(function (piece) {
                piece.style.width = pieceSize;
                piece.style.height = pieceSize;
            });

            Polymer.dom(this.$.container).querySelectorAll(".taken").forEach(function (taken) {
                taken.style.height = pieceSize;
            });

            if (previousSize) {
                refreshDisplay(this.boardView);
            }
        },

        _movesObserver: function (moves, previousMoves) {
            console.debug('Moves updated', moves);
            refreshMoves(this.boardView, this.moves);

            if (previousMoves) {
                refreshDisplay(this.boardView);
                prepareForPlay(this.boardView, this.interactiveSides);
            }

            this.moveIndex = moves.length;
        },

        attached: function () {
            // `attached` fires once the element and its parents have been inserted
            // into a document.
            //
            // This is a good place to perform any work related to your element's
            // visual state or active behavior (measuring sizes, beginning animations,
            // loading resources, etc).
            var boardView = this.boardView;

            refreshMoves(boardView, this.moves);
            console.debug("Board view context is now:", boardView);
            prepareForPlay(this.boardView, this.interactiveSides);

            window.setTimeout(function () {
                refreshDisplay(boardView);
            }, 100);

        },

        detached: function () {
            // The analog to `attached`, `detached` fires when the element has been
            // removed from a document.
            //
            // Use this to clean up anything you did in `attached`.
        },

        _setMoveIndex: function (targetPosition) {
            console.debug('Move index updated to ', targetPosition);

            if (this.boardView && targetPosition != this.boardView.moveIndex) {
                console.debug('Updating position to new index');
                targetPosition = Math.min(targetPosition, this.boardView.moves.length);

                while (targetPosition > this.boardView.moveIndex) {
                    advanceMoveIndex(this.boardView);
                }

                while (targetPosition < this.boardView.moveIndex) {
                    revertMoveIndex(this.boardView);
                }

                refreshDisplay(this.boardView);
                prepareForPlay(this.boardView, this.interactiveSides);
            }
        }

    });

</script>
